<ng-container *ngIf="isDesktopView">
  <div class="product">
    <div class="cart">
      <div class="imgBG"></div>
      <div class="checkout">
        <div class="amount">
          <span>P E R F U M E</span>
          <span class="heading">Gabrielle Essence Eau De Parfum</span>
          <span class="line-spacing"
            >A floral, solar and voluptuous interpretation composed by Olivier
            Polge, Perfumer-Creator for the House of CHANEL</span
          >
          <div class="calculation">
            <span class="discount">$149.99</span>
            <span class="original">$169.99</span>
          </div>
          <button class="btn">
            <img src="../assets/icon-cart.svg" alt="cart" /><span
              >Add to Cart</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isDesktopView">
  <div class="product">
    <div class="mob-cart">
      <div class="mob-imgBG"></div>
      <div class="mob-checkout">
        <div class="amount">
          <span>P E R F U M E</span>
          <span class="mob-heading">Gabrielle Essence Eau De Parfum</span>
          <span class="line-spacing"
            >A floral, solar and voluptuous interpretation composed by Olivier
            Polge, Perfumer-Creator for the House of CHANEL</span
          >
          <div class="mob-calculation">
            <span class="discount">$149.99</span>
            <span class="original">$169.99</span>
          </div>
          <button class="mob-btn">
            <img src="../assets/icon-cart.svg" alt="cart" /><span
              >Add to Cart</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
